@{
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        <h1>You are a member @WebSecurity.CurrentUserName!</h1>
        <a href=@Href("~/")>Home</a>
    </body>
</html>
