@{
    Layout = "_SiteLayout.cshtml";
    Page.title = "Login";

    var username = "";
    var password = "";
    var errorMessage = "";

    if(IsPost){
        WebSecurity.Logout();
        username = Request["username"];
        password = Request["password"];
        if(WebSecurity.Login(username, password, true)){
            Response.Redirect("~/Home");
        }
        else{
            errorMessage = "Login Unsuccessful.";
        }
    }
}

<h1>Login</h1>

<form method="post">
    <p>
        <span class="errorMessage">@Html.Raw(errorMessage)</span>
    </p>
Username: <input type="text" name="username"><br>
Password: <input type="password" name="password"><br>
<input type="submit" value="Submit">
</form>
<a href=@Href("~/Home")>Return Home </a>